body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.container {
    width: 80%;
    margin: 100px auto;
    background-color: #0a516d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.champion {
    display: flex;
    align-items: center;
}

.champion img {
    max-width: 50%;
    margin-right: 20px;
}

.champion h2{
    flex: 1;
    color: white;

    font-size: 28px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento centralizado */
    margin-bottom: 10px; /* Espaçamento inferior */
}
.champion p {
    flex: 1;
    color: white;

    font-size: 24px; /* Tamanho da fonte */
    text-align: center; /* Alinhamento centralizado */
    margin-bottom: 10px; /* Espaçamento inferior */

    text-align: justify; /* Texto justificado */
}
.champion img {
    float: right; /* Alinha a imagem à direita */
    margin-left: 10px; /* Adiciona uma margem à esquerda para separar o texto */
    margin-top: 35px; /* Move a imagem para baixo */

}

.btn {
    background-color:  #333; /* Cor de fundo azul */
    color: white; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 20px; /* Borda arredondada */
    text-decoration: none; /* Remover sublinhado padrão */
    display: inline-block; /* Exibir como bloco */
    
}

.btn:hover {
    background-color: #a817e1; /* Altera a cor de fundo ao passar o mouse */
}

.btn-container {
    text-align: right; /* Centralizar o conteúdo */
}

.btn:hover {
    background-color: #a817e1; /* Altera a cor de fundo ao passar o mouse */
}

.btn-container {
    text-align: right; /* Centralizar o conteúdo */
}
